<plugin resizable="true">
	<grid rows="5" cols="5" spacing="4">
		<!-- Row 1 -->
		<label text="labels.chan.in" />
		<cell cols="4">
			<!-- Mono meter for mono version -->
			<ui:if test="ex :in">
				<ledmeter hexpand="true" angle="0" bg.inherit="true">
					<ledchannel id="min" min="-36 db" max="+6 db" log="true" type="rms_peak" peak.visibility="true" value.color="mid_in"/>
				</ledmeter>
			</ui:if>
			<!-- Stereo meter for stereo version -->
			<ui:if test="ex :in_l">
				<ledmeter hexpand="true" angle="0" bg.inherit="true">
					<ledchannel id="min_l" min="-36 db" max="+6 db" log="true" type="rms_peak" peak.visibility="true" value.color="left_in"/>
					<ledchannel id="min_r" min="-36 db" max="+6 db" log="true" type="rms_peak" peak.visibility="true" value.color="right_in"/>
				</ledmeter>
			</ui:if>
		</cell>
		<!-- Row 2 -->
		<label text="labels.samples" />
		<label text="labels.signal.dry" />
		<label text="labels.signal.wet" />
		<label text="labels.delay:ms" />
		<label text="labels.output" />
		<!-- Row 3 -->
		<knob id="d_in" />
		<knob id="dry" scale_color="yellow" />
		<knob id="wet" scale_color="yellow" />
		<indicator id="d_out" format="f6.2!" tcolor="ind_text"/>
		<knob id="g_out" />
		<!-- Row 4 -->
		<value id="d_in" />
		<value id="dry" />
		<value id="wet" />
		<void />
		<value id="g_out" />
		<!-- Row 5 -->
		<label text="labels.chan.out" />
		<cell cols="4">
			<!-- Mono meter for mono version -->
			<ui:if test="ex :out">
				<ledmeter hexpand="true" angle="0" bg.inherit="true">
					<ledchannel id="mout" min="-36 db" max="+6 db" log="true" type="rms_peak" peak.visibility="true" value.color="mid"/>
				</ledmeter>
			</ui:if>
			<!-- Stereo meter for stereo version -->
			<ui:if test="ex :out_l">
				<ledmeter hexpand="true" angle="0" bg.inherit="true">
					<ledchannel id="mout_l" min="-36 db" max="+6 db" log="true" type="rms_peak" peak.visibility="true" value.color="left"/>
					<ledchannel id="mout_r" min="-36 db" max="+6 db" log="true" type="rms_peak" peak.visibility="true" value.color="right"/>
				</ledmeter>
			</ui:if>
		</cell>
	</grid>
</plugin>
